# ignore all .git and .cache folders as well as any git files in all folders, including build root
**/.git
**/.cache
**/.git*
# ignore all *.class files in all folders, including build root
**/*.class
# ignore all markdown files (md) in all folders, including build root
**/*.md
